.contact_us{
    padding: 60px 0;
    .container{
        max-width: 1300px;
        margin: auto;
        padding: 0 15px ;
        .row{
            .col-lg-4{
                .title{
                    margin-bottom: 30px;
                    color: #000;
                    font-size: 50px;
                    font-weight: 700;
                    font-family: 'EB Garamond', serif;
                    text-transform: capitalize;
                }
                .text{
                    font-size: 16px;
                }
            }
            .col-lg-8{
                .inner{

                    border: 1px solid var(--border);
                    .row{
                        .col-md-4{
                            .item{
                                position: relative;
                                padding: 25px;
                                height: 100%;
                                text-align: center;
                                .icon{
                                    color: #000;
                                    font-size: 31px;
                                    margin-bottom: 10px;
                                }
                                .sub-title{
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    letter-spacing: 4px;
                                    color: #000;
                                    text-transform: uppercase;
                                }
                                .box{
                                    font-size: 14px;
                                }
                                
                                &::before{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 1px;
                                    height: 100%;
                                    background-color: var(--border);
                                }
                            }
                            .item_us{
                                padding: 25px;
                                height: 100%;
                                text-align: center;
                                .icon{
                                    color: #000;
                                    font-size: 31px;
                                    margin-bottom: 10px;
                                }
                                .sub-title{
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    letter-spacing: 4px;
                                    color: #000;
                                    text-transform: uppercase;
                                }
                                .box{
                                    font-size: 14px;
                                }
                                
                            }
                        }
                    }
                }
            }
            
        }
        .section{
            padding-top: 60px;
            .row{
                .col-md-5{
                    .inner_1{
                        background-color: #fff;
                        padding: 65px 65px;
                        .name-title{
                            font-family: 'EB Garamond', serif;
                            font-size: 30px;
                            font-weight: 700;
                            margin-bottom: 15px;
                            color: #000;
                            text-transform: capitalize;
                        }
                        .text{
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                        .row{
                            .col-lg-12{
                                padding-bottom: 15px;
                                .select{
                                    width: 100%;
                                    border-radius: 10px;
                                    padding: 12px 12px;
                                    font-size: 14px;
                                    color: #495057;
                                    line-height: 1.5;
                                    outline: none;
                                    border: 1px solid var(--border);
                                }
                                .box_1{
                                    display: flex;
                                    align-items: center;
                                    padding: 6px 12px;
                                    border-radius: 10px;
                                    border: 1px solid var(--border) ;
                                    .icon_1{
                                        color: #e4a853;
                                    }
                                    input{
                                        width: 100%;
                                        border-radius: 5px;
                                        padding: 6px 12px;
                                        font-size: 14px;
                                        color: #495057;
                                        line-height: 1.5;
                                        border: none;
                                        outline: none;
                                    }
                                }
                                .text_1{
                                    outline: none;
                                    padding: 10px;
                                    width: 100%;
                                    border-radius: 10px;
                                    font-size: 14px;
                                    color: #495057;
                                    line-height: 1.5;
                                    border: 1px solid var(--border);
                                    
                                }
                                .btn_1{
                                    display: inline-block;
                                    text-decoration: none;
                                    padding: 0.813rem 3.2rem;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 22.5px;
                                    background-image: var(--btn-gradient);
                                    color: white;
                                    border: 1px solid var(--btn-gradient);
                                    border-radius: 30px;
                                    user-select: none;
                                    text-transform: uppercase;
                                    cursor: pointer;
                                    position: relative;
                                    isolation: isolate;
                                    overflow: hidden;
                                    &:hover::before {
                                    left: auto;
                                    right: 0;
                                    width: 100%;
                                    }
                                    &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    right: auto;
                                    top: 0;
                                    height: 100%;
                                    width: 0;
                                    background-color: #fff;
                                    opacity: 0.1;
                                    z-index: -1;
                                    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .col-md-7{
                    .map{
                        height: 100%;
                        .size{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@import '../mobile/contact/contactUsMobile';