.comment   
    .container 
        .section-title.wow.zoomIn 
            img.logo(src="./images/logo_icon.png", alt="logo")
            .sub-title testimonials 
            h3.title-name what customer say 
        .swiper.comment-Swiper.wow.fadeInUp(data-wow-duration="0.5s" )
            .swiper-wrapper.wow.fadeInUp(data-wow-duration="1.5s")
                .swiper-slide
                    .inner 
                        .content-title Excellent hotel
                        .content-text This was our 4th visit to the hotel. Once again really enjoyed our stay. Good facilities in the room. Breakfast and cheese and wine at night both good. Like that you can have tea/coffee all day.
                        .meta
                            .rating-star 
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                            .item
                                img.image(src="./images/home/comment/image.jpg", alt="image")
                                .text
                                    .name mathew 
                                    .job 22/10/22
                            
                .swiper-slide   
                    .inner 
                        .content-title Excellent hotel
                        .content-text We stayed here for a long weekend and was very impressed with the hotel , the staff were excellent, very friendly and couldn’t do enough for us . Rooms were very nice, clean and comfortable. Location was a few steps from Times Square, would definitely recommend and would stay here again .
                        .meta
                            .rating-star 
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                            .item
                                img.image(src="./images/home/comment/image.jpg", alt="image")
                                .text
                                    .name dine
                                    .job 22/10/22
                .swiper-slide   
                    .inner 
                        .content-title Excellent hotel
                        .content-text We stayed here for a long weekend and was very impressed with the hotel , the staff were excellent, very friendly and couldn’t do enough for us . Rooms were very nice, clean and comfortable. Location was a few steps from Times Square, would definitely recommend and would stay here again .
                        .meta
                            .rating-star 
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                            .item
                                img.image(src="./images/home/comment/image.jpg", alt="image")
                                .text
                                    .name Jion 
                                    .job 22/10/22
                .swiper-slide
                    .inner 
                        .content-title Excellent hotel
                        .content-text This was our 4th visit to the hotel. Once again really enjoyed our stay. Good facilities in the room. Breakfast and cheese and wine at night both good. Like that you can have tea/coffee all day.
                        .meta
                            .rating-star 
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                                +render_icon('rating')
                            .item
                                img.image(src="./images/home/comment/image.jpg", alt="image")
                                .text
                                    .name max
                                    .job 22/10/22
            .swiper-pagination 
    
    script.
        var swiper = new Swiper(".comment-Swiper", {
            slidesPerView: 1,
            loop: true,
            grabCursor: true,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                640: {
                slidesPerView: 1,
                },
                768: {
                slidesPerView: 2,
                },
                1024: {
                slidesPerView: 3,
                },
            },
        });