.rating 
    .container 
        .menu  
            .list 
                .box-icon 
                .number 5
                .box-title luxury rooms
            .list 
                .box-icon 
                .number 5
                .box-title five star rooms
            .list 
                .box-icon 
                .number 5
                .box-title international quests
            .list 
                .box-icon 
                .number 5
                .box-title served breakfast