.rooms 
    .container 
        .section-title.wow.zoomIn 
            img(src="./images/logo_icon.png", alt="icon")
            .title DISCOVER
            h2.title-name Rooms & Suites 
        .swiper.rooms-Swiper 
            .swiper-wrapper.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
                .swiper-slide
                    .inner
                        .image
                            img(src="./images/home/rooms/room_1.jpg", alt="room")
                        .content
                            .content-title Double Room
                            .acreage
                                .width  
                                    +render_icon('acreage')
                                .room-types 20 M 
                                    sup 2
                                .price 
                                    .price-title From 
                                    .price-value $120
                                        span /Night
                .swiper-slide 
                    .inner
                        .image
                            img(src="./images/home/rooms/room_2.jpg", alt="room")
                        .content
                            .content-title Luxury Room
                            .acreage
                                .width  
                                    +render_icon('acreage')
                                .room-types 20 M
                                    sup 2
                                .price 
                                    .price-title From 
                                    .price-value $150
                                        span /Night
                .swiper-slide
                    .inner
                        .image
                            img(src="./images/home/rooms/room_3.jpg", alt="room")
                        .content
                            .content-title Premium Room
                            .acreage
                                .width  
                                    +render_icon('acreage')
                                .room-types 20 M
                                    sup 2
                                .price 
                                    .price-title From 
                                    .price-value $170 (-10%)
                                        span /Night
            .swiper-pagination        
    script.
        var swiper = new Swiper(".rooms-Swiper", {
            slidesPerView: 1,
            loop: true,
            grabCursor: true,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                640: {
                slidesPerView: 1,
                },
                768: {
                slidesPerView: 2,
                },
                1024: {
                slidesPerView: 3,
                },
            },
        });
            

    
   