.scenery
    .container
        .row
            .col-md-6
                .content.wow.fadeInUp
                    img(src="./images/logo_icon.png", alt="icon")
                    p.title welcome 
                    h2.text_name Upgrade Your Experience 
                    .text Enjoy sweeping water views when you reserve a Hudson River View Suite. Spread out in an Executive or Luxury Suite with over 700 square feet of lavish living areas with integrated technology. Live the New York lifestyle in the Conrad Suite, featuring an office and separate living and dining areas.
                    .btn 
                        a.btn_link(href="#") read more 
            .col-md-6.wow.zoomIn
                .thumd
                    img(src="./images/home/scenery/image_1.jpg", alt="scenery")  
