.special 
    .container 
        .content.wow.zoomIn
            img(src="./images/logo_icon.png", alt="icon")
            .title EXCLUSIVE OFFERS
            h2.text Featured Specials
        .row 
            .col-md-4
                .inner
                    .image.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
                        img(src="./images/home/special/image_1.jpg", alt="image")
                    .text-content.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s")
                        .special-subtitle UP TO 30% OFF 
                        h2.special-title kick off summner in NYC
                        a.btn.btn1(href="#") Plan your summer treat 
            .col-md-4
                .inner
                    .image.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
                        img(src="./images/home/special/image_3.jpg", alt="image")            
                    .list-content.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s")
                        .sub_title ONLY THIS WEEK
                        .title $5 Breakfast package at central market
                        .text Start your day with ourt $5 Breakfast on the go package at centrel market
                        a.link-btn(href="#") learn more 
            .col-md-4
                .inner
                    .image.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
                        img(src="./images/home/special/image_2.jpg", alt="image")
                    .text-content.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                        .special-subtitle MEMBERSHIP
                        h2.special-title Win a 3-night getaway!
                        a.btn.btn1(href="#") get it now
                            
