@media (max-width: 993px){
    .contact_us{
        padding: 30px 0;
        .container{
            .row{
                .col-lg-4{
                    .title{
                        text-align: center;
                        font-size: 25px;
                        margin-bottom: 15px;
                    }
                    .text{
                        text-align: center;
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                }
                .col-lg-8{
                    .inner{
                        .col-md-4{
                            .item{
                                padding: 15px;
                                text-align: center;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 0;
                                    height: 0;
                                    visibility: hidden;
                                    background-color: var(--border);
                                }
                            }
                        }
                    }
                }
            }
            .section{
                .row{
                    .col-md-5{
                        .inner_1{
                            padding: 30px ;
                            .name-title{
                                font-size: 25px;
                            }
                            .text{
                                font-size: 14px;
                            }
                            .row{
                                .col-lg-12{
                                    .btn_1{
                                        font-size: 12px;
                                        padding: 5px 10px;
                                    }
                                }
                            }
                        }
                    }
                    .col-md-7{
                        overflow: hidden;
                        .map{
                            
                            .size{
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 593px){
    .contact_us{
        .container{
            .section{
                .row{
                    .col-md-5{
                        .inner_1{
                            margin-bottom: 20px;

                        }
                    }
                    .col-md-7{
                        .map{
                            height: 230px;
                        }
                    }
                }
            }
        }
    }
}