.event 
    .container 
        .row 
            .col-md-6 
                .image
                    img(src="./images/about/event/img_1.jpg", alt="image")
                .sub-title UNIQUE EVENT SPACES
                .name-title World-class Events
                .text Get together at The Allen Hotel and enjoy 1,000 square feet of meeting space with two 42” TVs, a projector and speakers, plus food and beverage service – perfect for business groups or special events up to 50 guests.
                .infor For more info, email  
                    span info@example.com   
            .col-md-6 
                .image
                    img(src="./images/about/event/img_2.jpg", alt="image")
                .sub-title EXPERIENCE
                .name-title Culinary Delight  
                .text With the casual convenience of breakfast downstairs, we offers a wide variety of coffees, teas, and breakfast treats. From bagels and croissants to eggs and fresh hot waffles, we have the fuel to start your day right.
                .infor Open Daily
                    span 7AM – 10AM 