@media (max-width: 1025px){
    .gallery_us{
        padding: 15px 0 30px;
        .container{
            padding: 0 18px;
        }
    }
}

@media (max-width: 993px){
    .gallery_us{
        .container{
            .row{
               .col-md-4{
                    padding: 0 7.5px;
                   width: 50%;
                .inner{
                    margin-top: 15px;
                    position: relative;
                    padding-top: 100%;
                    .thumd{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                       
                    }
                }
               } 
            }
        }
    }
}