@media (max-width: 1025px){
    .gallery_us{
        padding: 30px 0;
    }
}

@media (max-width: 993px){
    .gallery_us{
        .container{
            .row{
               .col-md-4{
                   width: 50%;
                .inner{
                    position: relative;
                    padding-top: 100%;
                    .thumd{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                       
                    }
                }
               } 
            }
        }
    }
}