.header{
    padding: 15px;
    width: 100%;
    height: 80px;
    background: linear-gradient(#1a1a1a,rgba(0, 0, 0, 0.1));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s linear;
    .container{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        font-weight: 700;
        max-width: 1300px;
        margin: auto;
        padding: 0 15px;
        .image{
            max-width: 100%;
            height: 50px;
        }
        .nav{
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px; 
            .nav-item{
                padding: 10px 0;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-size: 12px;
                letter-spacing: 2.4px;
                
                &::after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    transition: width 1s ease;
                }
                &:hover::after{
                    width: 100%;
                    
                }
            }
        }
        .link-btn{
            cursor: pointer;
            .btn{
                display: inline-block;
                text-decoration: none;
                padding: 0.813rem 3.2rem;
                font-size: 12px;
                font-weight: 700;
                line-height: 22.5px;
                background-image: var(--btn-gradient);
                color: white;
                border: 1px solid var(--btn-gradient);
                border-radius: 30px;
                user-select: none;
                text-transform: uppercase;
                cursor: pointer;
                position: relative;
                isolation: isolate;
                overflow: hidden;
                &:hover::before {
                  left: auto;
                  right: 0;
                  width: 100%;
                }
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  right: auto;
                  top: 0;
                  height: 100%;
                  width: 0;
                  background-color: #fff;
                  opacity: 0.1;
                  z-index: -1;
                  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }
        .bar{
            display: none
        }
    }
}

@import '../mobile/home/headerMobile';
 





