.posts{
    padding: 0 0 100px;
    background-color: #edebe5;
    overflow: hidden;
    .container{
        max-width: 1300px;
        margin: auto;
        padding: 0 15px;
        .section-title{
            text-align: center;
            margin-bottom: 45px;
            .logo{
                height: 20px;
            }
            .sub-title{
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 4.8px;
                line-height: 22.5px;
                text-transform: uppercase;
                color: black;
            }
            .title-name{
                margin-bottom: 5px;
                font-family: DM Sans;
                font-size: 50px;
                font-weight: 700;
                letter-spacing: -1.2px;
                line-height: 60px;
                text-transform: capitalize;
                color: black;
            }
        }
        .row{
            overflow: hidden;
            .inner{
                position: relative;
                overflow: hidden;
                margin-top: 20px;
                .thumd{
                    padding-top: 126.835%;
                    position: relative;
                    overflow: hidden;
                    .wind{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        &::before{
                            content: "";
                            position: absolute;
                            height: 100%;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
                            transition: all 0.4s ease;
                            opacity: 1;
                            z-index: 0;
                        }
                        .image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .item{
                    padding: 15px 40px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    
                    .entry{
                        position: relative;
                        .entry-item{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            transition: all 0.5s ease;
                            .meta{
                                margin-bottom: 1em;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                z-index: 2;
                                .meta-text{
                                    color: white;
                                    font-size: 0.625rem;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    letter-spacing: 0.2em;
                                }
                                .meta-day{
                                    color: #bdbdbd;
                                    font-size: 0.625rem;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    letter-spacing: 0.2em;
                                }
                            }
                            .entry-title{
                                color: white;
                                font-family: inherit;
                                text-transform: capitalize;
                                font-weight: 700;
                                font-size: 1.5rem;
                                line-height: 1.25;
                                margin-bottom: 22px;
                                z-index: 2;
                            }
                        } 
                        .entry-content{
                            transform: translateY(300%);
                            opacity: 0;
                            transition: all 0.5s ease;
                            margin-bottom: 25px;
                            .entry-text{
                                color: #bdbdbd;
                                line-height: 1.5;
                            }
                            .entry-link{
                                margin-top: 25px;
                                .link{
                                    margin-top: 20px;
                                    display: inline-block;
                                    text-decoration: none;
                                    padding: 0.813rem 3.2rem;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 22.5px;
                                    background-image: var(--btn-gradient);
                                    color: white;
                                    border: 1px solid var(--btn-gradient);
                                    border-radius: 30px;
                                    user-select: none;
                                    text-transform: uppercase;
                                    font-family: "DM Sans";
                                    cursor: pointer;
                                    position: relative;
                                    isolation: isolate;
                                    overflow: hidden;
                                    &:hover::before {
                                      left: auto;
                                      right: 0;
                                      width: 100%;
                                    }
                                    &::before {
                                      content: "";
                                      position: absolute;
                                      left: 0;
                                      right: auto;
                                      top: 0;
                                      height: 100%;
                                      width: 0;
                                      background-color: #fff;
                                      opacity: 0.1;
                                      z-index: -1;
                                      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                                    }
                                }    
                            }
                        }  
                    }
                }
                &:hover{
                    .item{
                        .entry{

                            .entry-item{
                                bottom: 100%;
                                transition: all 0.5s ease;
                            }
                            .entry-content{
                                transform: translateY(0%);
                                opacity: 1;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}