.rating{
    .container{
        background-image: url('../../images/home/rating/image.jpg');
        background-size: cover;
        width: 100%;
        height: auto;
        .menu{

        }
    }
}