.rooms{
    padding: 100px 0;
    background-color: #edebe5;
    .container{
        max-width: 1300px;
        padding: 0 15px;
        margin: auto;
        .section-title{
            text-align: center;
            margin-bottom: 45px;
            .title{
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 4.8px;
                text-transform: uppercase;
                color: black;
            }
            .title-name{
                font-family: DM Sans;
                font-size: 50px;
                font-weight: 700;
                letter-spacing: -1.2px;
                color: black;
                line-height: 60px;
            }
        }
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    margin-right: 0;
                    .inner{
                        margin: 0 15px 30px;
                        overflow: hidden;
                        .image{
                            position: relative;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;   
                                transition: all ease-in-out 0.3s;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                                transition: all ease-in-out 0.3s;
                            }
                            .price{
                                opacity: 0;
                                position: absolute;
                                top: 40px;
                                left: 40px;
                                z-index: 2;
                                transition: all ease-in-out 0.3s;
                                .price-title{
                                    text-transform: capitalize;
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                    font-style: italic;
                                    color: white;
                                }
                                .inner{
                                    display: flex;
                                    align-items: center;
                                    .price-value{
                                        color: #e4a853;
                                        font-size: 1.5rem;
                                    }
                                    .price-unti{
                                        text-transform: capitalize;
                                        font-weight: 400;
                                        font-size: 0.875rem;
                                        font-style: italic;
                                        color: white;
                                    }
                                }
                            }
                            
                            
                            
                        }
                        .content{
                            padding: 25px 40px;
                            background-color: #ffffff;
                            .content-title{
                                font-family: DM Sans;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 28.8px;
                                color: black;
                            }
                            .room-types{
                                color: #888888;
                                font-family: DM Sans;
                                font-size: 14px;
                                line-height: 26.25px;
                                margin-right: 10px;
                            }
                        }
                        &:hover{
                            .image{
                                img{
                                    transform: scale(1.1);
                                    transition: all ease-in-out 0.3s;
                                }
                                &::before{
                                    background-color: rgba(0, 0, 0, 0.5);
                                }
                                .price{
                                    opacity: 1;
                                    transform: translate(0);
                                    transition: all ease-in-out 0.3s;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination-bullet{
                background-color: #fff;
                margin-top: 20px;
               }
        }
    }
}