.rooms{
    padding: 60px 0;
    background-color: #edebe5;
    .container{
        max-width: 1300px;
        padding: 0 15px;
        margin: auto;
        .section-title{
            text-align: center;
            margin-bottom: 45px;
            img{
                height: 20px;
                margin-bottom: 5px;
            }
            .title{
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 4.8px;
                text-transform: uppercase;
                color: black;
            }
            .title-name{
                font-family: 'EB Garamond', serif;
                font-size: 50px;
                font-weight: 700;
                letter-spacing: -1.2px;
                color: black;
                line-height: 60px;
            }
        }
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    margin-right: 0;
                    .inner{
                        margin: 0 15px 30px;
                        overflow: hidden;
                        .image{
                            position: relative;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;   
                                transition: all ease-in-out 0.5s;
                            }
                            
                        }
                        .content{
                            padding: 25px 40px;
                            background-color: #ffffff;
                            .content-title{
                                font-family: 'EB Garamond', serif;
                                font-size: 23px;
                                font-weight: 700;
                                line-height: 28.8px;
                                color: black;
                            }
                            .acreage{
                                margin-top: 5px;
                                display: flex;
                                align-items: flex-end;
                                gap: 10px;
                                .width{
                                   color: gray;
                                }
                                .room-types{
                                    color: #888888;
                                    font-size: 15px;
                                }
                                .price{
                                    display: flex;
                                    align-items: flex-end;
                                    .price-title{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: black;
                                    }
                                    .price-value{
                                        margin-left: 10px;
                                        color: #e4a853;
                                        font-size: 14px;
                                        span{
                                            color: #888888;
                                            font-size: 12px;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            .image{
                                img{
                                    transform: scale(1.1);
                                    transition: all ease-in-out 0.5s;
                                }
                                // &::before{
                                //     background-color: rgba(0, 0, 0, 0.5);
                                // }
                                // .price{
                                //     opacity: 1;
                                //     transform: translate(0);
                                //     transition: all ease-in-out 0.3s;
                                // }
                            }
                        }
                    }
                }
            }
            .swiper-pagination-bullet{
                background-color: #fff;
                margin-top: 20px;
               }
        }
    }
}

@import '../mobile/home/roomsMoblile';