.scenery{
    padding: 100px 0;
    width: 100%;
    overflow: hidden;
    background-color: #edebe5;
    .container{
        max-width: 1300px;
        margin: auto;
        padding: 0 15px;
        .content{
            margin: 0 15px 0 0;
            padding: 0 12%;
            text-align: center;
            img{
                margin-bottom: 5px;
                height: 20px;
            }
            .title{
                color: currentColor;
                font-size: 12px;
                font-weight: 700;
                color: black;
                letter-spacing: 4.8px;
                line-height: 22.5px;
                text-transform: uppercase;
            }
            .text_name{
                margin-bottom: 45px;
                color: currentColor;
                font-family: DM Sans;
                font-size: 50px;
                font-weight: 700;
                color: black;
                letter-spacing: -1.2px;
                line-height: 60px;
                text-transform: capitalize;
            }
            
            .btn{
                .btn_link{
                    margin-top: 20px;
                    background-color: #e4a853;
                    border-color: #e4a853;
                    border-style: solid;
                    color: white;
                    display: inline-block;
                    font-family: DM Sans;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 22.5px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0.813rem 3.2rem;
                    border-radius: 30px;
                    transition: all 0.3s linear 0ms;
                    &:hover{
                        transition: all 0.3s linear 0ms;
                        background-color: #dd9127;
                        color: white;
                    }
                }
            }
        }
        .thumd{
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            clip-path: polygon(0% 0%, calc(50% - 5px) 0, calc(50% - 5px) 100%, calc(50% + 5px) 100%, calc(50% + 5px) 50px, 100% 50px, 100% 100%, calc(50% - 5px) 100%, calc(50% - 5px) calc(100% - 50px), 0 calc(100% - 50px), 0 50px);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
        
    }
}

@import '../mobile/home/sceneryMobile';