.blogs-2 
    .row  
        .col-lg-8
            .inner 
                .thumd
                    .wind
                        img.image(src="./images/home/posts/post-1.jpg", alt="image")
                .item 
                    .entry
                        .entry-item
                            .meta 
                                .meta-text new 
                                .meta-day 22/10/22
                            .entry-title all rooms now equipped with wifi 
                        .entry-content 
                            .entry-text Integer cursus accumsan laoreet. Nunc quis porta ligula. Cras nulla lectus, fermentum et sagittis nec, fringilla sit amet.
                            .entry-link 
                                a.link(href="#") learn more 
            .inner 
                .thumd
                    .wind
                        img.image(src="./images/home/posts/post-2.jpg", alt="image")
                .item 
                    .entry
                        .entry-item
                            .meta 
                                .meta-text new 
                                .meta-day 22/10/22
                            .entry-title all rooms now equipped with wifi 
                        .entry-content 
                            .entry-text Integer cursus accumsan laoreet. Nunc quis porta ligula. Cras nulla lectus, fermentum et sagittis nec, fringilla sit amet.
                            .entry-link 
                                a.link(href="#") learn more 
            .inner 
                .thumd
                    .wind
                        img.image(src="./images/home/posts/post-3.jpg", alt="image")
                .item 
                    .entry
                        .entry-item
                            .meta 
                                .meta-text new 
                                .meta-day 22/10/22
                            .entry-title all rooms now equipped with wifi 
                        .entry-content 
                            .entry-text Integer cursus accumsan laoreet. Nunc quis porta ligula. Cras nulla lectus, fermentum et sagittis nec, fringilla sit amet.
                            .entry-link 
                                a.link(href="#") learn more 
        .col-lg-4 
            .search 
                .title search 
                .inner
                    input(type="text" placeholder="search")
                    button.btn_1(type="button") 
                        +render_icon('search')
            .recent 
                .title recent post 
                .post 
                    a.inner(href="#")  
                        img.image(src="./images/home/posts/post-1.jpg", alt="image")
                        .content 
                            .name-title all rooms now equipped with wifi
                            .day 22/10/2023
                    a.inner(href="#")  
                        img.image(src="./images/home/posts/post-2.jpg", alt="image")
                        .content 
                            .name-title all rooms now equipped with wifi
                            .day 22/10/2023
                    a.inner(href="#")  
                        img.image(src="./images/home/posts/post-3.jpg", alt="image")
                        .content 
                            .name-title all rooms now equipped with wifi
                            .day 22/10/2023
            .tags 
                .title tags 
                .content 
                    a.link(href="#") new 
                    a.link(href="#") advertíing  
