@media (max-width: 1025px){
    .activity{
        .container{
            .content{
                .row{
                    .col-md-6{
                        .inner-content{
                            padding: 39px;
                            .title{
                                margin-bottom: 25px;
                                font-size: 36px;
                            }
                            .content{
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 993px){
    .activity{
        .container{
            
            .section-title{
                .sub-title{
                    letter-spacing: 3px;
                }
                .title-name{
                    margin-bottom: 10px;
                    font-size: 25px;
                    letter-spacing: -1px;
                    line-height: 30px;
                }
                .title-text{
                    font-size: 14px;
                    margin-bottom: 25px;
                }
            }
            .content{
                .row{
                    .col-md-6{
                        .inner-content{
                            padding: 25px;
                            .title{
                                margin-bottom: 10px;
                                font-size: 20px;
                            }
                            .content{
                                font-size: 14px;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                            }
                            .btn{
                                padding: 0;
                                .link{
                                    font-size: 9px;
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 569px){
    .activity{
        .container{
            .content{
                .row{
                    &:nth-child(even){
                        .left{
                            order: 0;
                        }
                    }
                }
            }
        }
    }
}