@media(max-width: 769px){
    .banner{
        .swiper-wrapper{

            .swiper-slide{
                .menu{
                    max-width: 45%;
                    .btn{
                        font-size: 12px;
                        padding: 1px 10px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}