@media (max-width: 1025px){
    .comment{
        padding: 30px 0;
    }
}
@media (max-width: 769px){
    .comment{
        .container{
            .section-title{
                margin-bottom: 25px;
                .title-name{
                    margin: 0;
                    font-size: 36px;
                    letter-spacing: -1px;
                }
            }
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        .inner {
                            padding: 25px;
                        }
                    }
                }
            }
        }
    }
}