@media(max-width: 1200px){
    .header{
        display: block;
        .container{
            .menu{
               gap: 15px;
            }
           
        }
    }
}
@media (max-width: 991px){
    .header{
        width: 100%;
        height: 237px;
        .container{
            flex-direction: column;
            .image{
                margin-bottom: 15px;
            }
            .menu{
                margin-bottom: 15px;
            }
            .link-btn{
                margin-top: 20px;
            }
        }
    }
}
@media (max-width: 576px){
    .header{
        height: 112px;
        .container{
            flex-direction: row;
            justify-content: space-between;
            
            .menu{
                display: none;
                gap: 0;
            }
            .link-btn{
                display: none;
            }
            .dropdown{
                display: block;
                .btn{
                    color: white;
                    font-weight: 900;

                }
                .dropdown-menu{
                    background-color: rgb(0 0 0 / 0.8);;
                    .dropdown-item{
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        padding: 20px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}