@media (max-width: 1025px){
    .posts{
        padding: 0 0 30px;
        .container{
            .row{
                .col-md-4{
                    .inner{
                        .thumd{
                            padding-top: 169%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 993px){
    .posts{
        .container{
            .section-title{
                margin-bottom: 5px;
                .sub-title{
                    letter-spacing: 3px;
                }
                .title-name{
                    font-size: 25px;
                    letter-spacing: 1px;
                    line-height: 30px;
                }
            }
            .row{
                .col-md-4{
                    .inner{
                        .thumd{
                            padding-top: 155%;
                        }
                        .item{
                            padding: 15px 30px;
                            .entry{
                                .entry-item{
                                    .entry-title{
                                        font-size: 15px;
                                    }
                                }
                                .entry-content {
                                    margin: 0;
                                    .entry-text{
                                        font-size: 14px;
                                    }
                                    .entry-link{
                                        .link{
                                            margin: 0px;
                                            font-size: 9px;
                                            padding: 5px 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 569px){
    .posts{
        .container{
            .row{
                .col-md-4{
                    .inner{
                        .thumd{
                            padding-top: 103%;
                        }
                    }
                }
            }
        }
    }
}