@media(max-width: 1025px ){
    .scenery{
        padding: 30px 0;
        .container{
            .content{
                padding: 0;
                margin: 0 0 30px;
            }
        }
    }
}
@media(max-width: 993px ){
    .scenery{
        .container{
            .content{
                .title{
                    margin-bottom: 5px;
                }
                .text_name{
                    font-size: 25px;
                    letter-spacing: -1px;
                    max-width: 70%;
                    margin: auto;
                    line-height: 1;
                }
                .text{
                    margin-top: 15px;
                    font-size: 14px;
                }
                .btn{
                    .btn_link{
                        font-size: 9px;
                        padding: 5px 10px;
                    }
                }
            }
            .thumd{
                padding: 0;
            }
        }
    }
}