@media (max-width: 1025px){
    .services{
        padding: 0 0 30px;
    }
}
@media (max-width: 769px){
    .services{
        .container{
            .section-title{
                margin-bottom: 25px;
                .title{
                    font-size: 36px;
                    letter-spacing: -1px;
                }
            }
        }
    }
}