@media(max-width: 1025px ){
    .special{
        padding: 30px 0;
        .container{
            .row{
                .col-md-4{
                    .inner{
                        .list-content{
                            .sub_title{

                                margin-top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 993px ){
    .special{
        padding: 30px 0 5px;
        .container{
            .content{
                margin-bottom: 25px;
                .title{
                    letter-spacing: 3px;
                    margin-bottom: 10px;
                }
                .text{
                    font-size: 25px; 
                    line-height:30px;
                    letter-spacing: 1px;
                }
            
            }
            .row{
                .inner{
                    margin-bottom: 25px;

                    .image{
                        img{
                            height: 355px;
                        }
                    }
                    .text-content{
                        padding: 15px;
                        .special-subtitle{
                            letter-spacing: 3;
                        }
                        .special-title{
                            overflow: hidden;
                            font-size: 20px;
                            display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                text-overflow: ellipsis;
                        }
                        .btn1{
                            overflow: hidden;
                            margin-bottom: 15px !important;
                            margin-top: 15px;
                            visibility: visible;
                            opacity: 1;
                            font-size: 12px;
                            padding: 5px 15px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                        }
                    }
                    .list-content{
                        padding: 0 15px;
                        .sub_title{
                            letter-spacing: 3px;
                            
                        }
                        .title{
                            font-size: 20px;

                        }
                        .text{
                            margin-top: 10px;
                            font-size: 14px;
                        }
                        .link-btn{
                            margin: 0;
                            font-size: 12px;
                            padding: 10px 15px;
                            }
                        
                    }
                    &:hover{
                        .text-content{
                            .btn1{

                            }
                        }
                    }
                }
            }
        }
    }
}