@media(max-width: 1025px ){
    .special{
        padding: 30px 0;
        .container{
            .row{
                .col-md-4{
                    .inner{
                        .list-content{
                            .sub_title{

                                margin-top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 769px ){
    .special{
        padding: 30px 0 5px;
        .container{
            .content{
                margin-bottom: 25px;
                .title{
                    letter-spacing: 3px;
                    margin-bottom: 10px;
                }
                .text{
                    font-size: 25px; 
                    line-height: 5px;
                    letter-spacing: 1px;
                }
            
            }
            .row{
                .inner{
                    margin-bottom: 25px;

                    .image{
                        img{
                            height: 355px;
                        }
                    }
                    .text-content{
                        padding: 30px 40px;
                        .special-subtitle{
                            letter-spacing: 3;
                        }
                        .special-title{
                            font-size: 20px;
                            
                        }
                        .btn1{
                            padding: 1px 10px;
                        }
                    }
                    .list-content{
                        padding: 0 15px;
                        .sub_title{
                            letter-spacing: 3px;
                            
                        }
                        .title{
                            font-size: 25px;

                        }
                        .text{
                            font-size: 14px;
                        }
                        .link-btn{
                            margin: 0;
                            font-size: 12px;
                            padding: 1px 10px;
                            }
                        
                    }
                }
            }
        }
    }
}