@media(max-width: 1025px ){
    .special{
        padding: 30px 0;
        .container{
            .row{
                .col-md-4{
                    .inner{
                        .list-content{
                            .sub_title{

                                margin-top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 769px ){
    .special{
        .container{
            .content{
                margin-bottom: 25px;
                .text{
                    font-size: 36px;
                    letter-spacing: -1px;
                }
            
            }
            .row{
                .inner{
                    margin-bottom: 25px;
                    .list-content{
                        padding: 0 15px;
                        .link-btn{
                            margin: 0;
                            font-size: 12px;
                            padding: 12px 20px;
                            }
                        
                    }
                }
            }
        }
    }
}