.contact_us 
    .container
        .row 
            .col-lg-4 
                .title contact us 
                .text If you need any help, please contact us or send us an email or go to our forum We are sure that you can receive our reply as soon as possible.
            .col-lg-8
                .inner
                    .row 
                        .col-md-4 
                            .item
                                .icon
                                    +render_icon('phone')
                                .sub-title phone
                                .box + (025) 5688 8821
                        .col-md-4 
                            .item
                                .icon
                                    +render_icon('address')
                                .sub-title address
                                .box 4th Floor, 147 Mai Dien, Cau Giay, Hanoi
                        .col-md-4 
                            .item
                                .icon
                                    +render_icon('email')
                                .sub-title email
                                .box info@webhotel.com.vn
        .section
            .row 
                .col-md-5
                    .inner_1 
                        .name-title Feedback Form
                        .text If you have any question. Please don’t hesitate to send us a message
                        .row 
                            .col-lg-12 
                                select.select(name="on")
                                    option(value="Mr") Mr
                                    option(value="Mrs") Mrs
                            .col-lg-12 
                                input(type="text" placeholder="Your Name")
                            .col-lg-12 
                                input(type="text" placeholder="Your Email")
                            .col-lg-12
                                input(type="text" placeholder="Phone Number")
                            .col-lg-12 
                                    input(type="text" placeholder="Subject(Opitional)")
                            .col-lg-12 
                                textarea.text(name="on", cols="40", rows="3", placeholder="here goes your message")  
                            .col-lg-12 
                                .btn_1 send message
                .col-md-7
                    .map 
                        iframe.size(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3723.8088515190775!2d105.774463!3d21.040333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c563dba4eb%3A0xc3161d468d77f9aa!2zSUlUIFRFQ0hDT00gLSBDw7RuZyB0eSBUTkhIIEPDtG5nIG5naOG7hyB2w6AgdHJ1eeG7gW4gdGjDtG5nIElJVA!5e0!3m2!1svi!2sus!4v1702915537962!5m2!1svi!2sus"  style="border:0;"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade") 
                        