.gallery_us 
    .container 
        .row.wow.fadeInUp
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_1.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_2.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_3.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_4.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_5.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_1.jpg", alt="img")
                    .icon 
                        +render_icon('search')