.gallery_us 
    .container 
        .row
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_1.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_2.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_3.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_4.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_5.jpg", alt="img")
                    .icon 
                        +render_icon('search')
            .col-md-4 
                .inner
                    .thumd
                        img(src="images/gallery/img_1.jpg", alt="img")
                    .icon 
                        +render_icon('search')
        .button
            a.link_u(href="#") 
                +render_icon('left')
            a.link.active(href="#" select ) 1
            a.link(href="#") 2
            a.link(href="#") 3
            a.link(href="#") 4
            a.link(href="#") 5
            a.link_u(href="#") 
                +render_icon('right')