@media (max-width: 993px){
    .booking_us{
        padding: 30px 0 15px;
        .container{
            .row{
                .col-lg-4{
                    .inner{
                        margin-bottom: 20px;
                    }
                }
                .col-lg-8{
                    .inner{
                        padding: 0;
                        .col-md-12{
                            .row{
                                .table-us{
                                    tr{

                                        .name-title{
                                            font-size: 15px;
                                        }
                                        .sub-title,
                                        .sub-price,
                                        .sub-max,
                                        .sub-sale{
                                            font-size: 14px;
                                        }
                                        .sub-number{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                        .col-md-12{
                            .btn_1{
                                font-size: 12px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}