.enjoy{
    padding: 100px 0;
    background-color: #edebe5;
    .container{
        max-width: 1016px;
        margin: auto;
        .title{
            
            margin-bottom: 50px;
            .name-title{
                text-align: center;
                color: black;
                font-family: DM Sans;
                font-size: 50px;
                font-weight: 700;
                letter-spacing: -1.2px;
                line-height: 60px;
                text-transform: capitalize;
            }
        }
        .text-content{
            text-align: center;
            font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-weight: 400;
            color: #686868;
            font-size: 1rem;
            line-height: 1.875;
        }
        
    }
}