.offers_us 
    .container 
        .title Save On Accommodations During Your Next Trip
        .list 
            .item 
                img(src="./images/offers/img_2.jpg", alt="img")
                .row 
                    .col-md-6 
                        .sub-title Summer in the City Sale
                        .text This summer, we only have eyes for New York City! Save up to 40% off now through Labor Day! Book your stay at Hotel Edison for any occasion this summer to receive our lowest prices of the year.
                        .btn_1 book offers
                    .col-md-6
                        .sub-title Package includes
                        .inner 
                            .box Daily WiFi in room and public areas
                            .box Access to 24-hour Fitness Center
                            .box Access to 24-hours Business Center
                            .box Guided neighborhood walking tours
                            .box Edison Hour on Tuesday and Friday evenings from 5 to 6pm
            .item 
                img(src="./images/offers/img_3.jpg", alt="img")
                .row 
                    .col-md-6 
                        .sub-title Park & Stay
                        .text This summer, we only have eyes for New York City! Save up to 40% off now through Labor Day! Book your stay at Hotel Edison for any occasion this summer to receive our lowest prices of the year.
                        .btn_1 book offers
                    .col-md-6
                        .sub-title Package includes
                        .inner 
                            .box Daily WiFi in room and public areas
                            .box Access to 24-hour Fitness Center
                            .box Access to 24-hours Business Center
                            .box Guided neighborhood walking tours
                            .box Edison Hour on Tuesday and Friday evenings from 5 to 6pm
            .item 
                img(src="./images/offers/img_4.jpg", alt="img")
                .row 
                    .col-md-6 
                        .sub-title Advance Purchase
                        .text This summer, we only have eyes for New York City! Save up to 40% off now through Labor Day! Book your stay at Hotel Edison for any occasion this summer to receive our lowest prices of the year.
                        .btn_1 book offers
                    .col-md-6
                        .sub-title Package includes
                        .inner 
                            .box Daily WiFi in room and public areas
                            .box Access to 24-hour Fitness Center
                            .box Access to 24-hours Business Center
                            .box Guided neighborhood walking tours
                            .box Edison Hour on Tuesday and Friday evenings from 5 to 6pm
