@media (max-width: 1025px){
    .event{
        padding: 30px 0;
        .container{
            padding: 0 18px;
        }
    }
}

@media (max-width: 993px){
    .event{
        .container{
            .row{
                .col-md-6{
                    padding: 20px 7.5px 0;

                    .image{
                        padding-bottom: 10px;
                        img{
                            height: 250px;
                        }
                    }
                    .sub-title{
                        letter-spacing: 3px;
                    }
                    .name-title{
                        font-size: 25px;
                    }
                    .text{
                        font-size: 14px;
                    }
                    .infor{
                        font-size: 12px;

                    }
                }
            }
        }
    }
}