.header
    .fixed_top
        .container 
            img.image(src="./images/logo.png", alt="logo") 
            ul.nav 
                li.nav-list 
                    a.nav-item(href="/index.html" title="home" ) home
                li.nav-list 
                    a.nav-item(href="/about.html" title="about") about
                li.nav-list 
                    a.nav-item(href="/rooms.html" title="rooms") rooms
                li.nav-list 
                    a.nav-item(href="/service.html" title="service") service
                li.nav-list 
                    a.nav-item(href="#") blogs
                li.nav-list 
                    a.nav-item(href="#") gallery
                li.nav-list 
                    a.nav-item(href="#") page
                li.nav-list 
                    a.nav-item(href="#") contact 
            .link-btn 
                a.btn(href="#") book your stay 
            button.bar(type="button", data-bs-toggle="offcanvas", data-bs-target="#offcanvasNavbar", aria-controls="offcanvasNavbar", aria-label="Toggle navigation")
                +render_icon('bar-c')
            div.offcanvas.offcanvas-end(tabindex="-1", id="offcanvasNavbar", aria-labelledby="offcanvasNavbarLabel")
                div.offcanvas-header
                    h5.name-title Menu
                    button.btn-close(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
                div.offcanvas-body
                    .menu 
                        .list
                            a.link(href="/index.html" title="home" ) home
                        .list
                            a.link(href="/index.html" title="home" ) about
                        .list
                            a.link(href="/index.html" title="home" ) rooms
                        .list
                            a.link(href="/index.html" title="home" ) service
                        .list
                            a.link(href="/index.html" title="home" ) blogs
                        .list
                            a.link(href="/index.html" title="home" ) gallery
                        .list
                            a.link(href="/index.html" title="home" ) page
                        .list
                            a.link(href="/index.html" title="home" ) contact 

            