.dropdown
    button.btn.btn-secondary(type="button", data-bs-toggle="dropdown", aria-expanded="false") 
        +render_icon('bar-c')
    ul.dropdown-menu
        li
        button.dropdown-item(type="button") home
        li
        button.dropdown-item(type="button") about
        li
        button.dropdown-item(type="button") rooms
        li
        button.dropdown-item(type="button") service
        li
        button.dropdown-item(type="button") blogs
        li
        button.dropdown-item(type="button") gallery
        li
        button.dropdown-item(type="button") page
        li
        button.dropdown-item(type="button") contact           