@media (max-width: 1025px){
    .room{
        padding: 15px 0 30px;
        .container{
            padding: 0 18px;
        }
    } 
}
@media (max-width: 993px){
    .room{
        .container{
            .row{
                .col-lg-4{
                    padding: 0 7.5px;
                    width: 50%;
                    .inner{
                        margin-top: 15px;
                        .content{
                            padding: 10px;
                            .content-title{
                                font-size: 20px;
                            }
                            .acreage{
                                padding-top: 0;
                            }
                            .price{

                                .price-value{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}