@media (max-width: 1025px){
    .blogs-2{
        padding: 6px 0 30px;
        
    }
}

@media (max-width: 993px){
    .blogs-2{
        .row{
            .col-lg-8{
                .inner{
                    .thumd{
                        padding-top: 50%;
                    }
                    .item{
                        padding: 15px 30px;
                        .entry{
                            .entry-item{
                                .entry-title{
                                    font-size: 15px;
                                }
                            }
                            .entry-content {
                                margin: 0;
                                .entry-text{
                                    font-size: 14px;
                                }
                                .entry-link{
                                    .link{
                                        margin: 0px;
                                        font-size: 12px;
                                        padding: 5px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 569px){
    .blogs-2{
        .row{
            .col-lg-8{
                .inner{
                    .thumd{
                        padding-top: 115%;
                    }
                }
            }
        }
    }
}