.activitys 
    .container  
        .row
            .col-md-6.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s")
                .left
                    img.image(src="./images/home/activity/image_1.jpg", alt="image")
            .col-md-6.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                .right
                    .inner-content
                        h3.title Continental Breakfast
                        .content Soy or Almond milk, gluten free toast and cereal are available upon request. Please advise us of any special requirements in advance so we can prepare to accommodate these requests.
                        .btn 
                            a.link(href="#") learn more
        .row
            .col-md-6.left.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                .left
                    img.image(src="./images/home/activity/image_2.jpg", alt="image")
            .col-md-6.right.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s")
                .right
                    .inner-content
                        h3.title 24 Hour Refreshments and so much more
                        .content Please consider the Casablanca your private club or better yet, your home away from home. Rick&rsquo;s Cafe is our guests 24-hour living room where you can invite a friend or meet new friends from around the world.
                        .btn 
                            a.link(href="#") learn more
        .row
            .col-md-6.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s") 
                .left
                    img.image(src="./images/home/activity/image_3.jpg", alt="image")
            .col-md-6.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                .right
                    .inner-content
                        h3.title For your comfort
                        .content When a guest of the Casablanca Hotel, our goal is to ensure you are as comfortable as possible.
                        .btn 
                            a.link(href="#") learn more
        .row
            .col-md-6.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s")
                .left
                    img.image(src="./images/service/img_2.jpg", alt="image")
            .col-md-6.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                .right
                    .inner-content
                        h3.title Make Yourself at Home
                        .content At Library Hotel Collection, we want to make sure each guest feels completely at ease during their stay. Let us know if you need anything to be more comfortable!
                        .btn 
                            a.link(href="#") learn more
        .row
            .col-md-6.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s")
                .left
                    img.image(src="./images/service/img3.jpg", alt="image")
            .col-md-6.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                .right
                    .inner-content
                        h3.title Access to Nearby Sports Clubs
                        .content The Casablanca Hotel welcomes travelers to enjoy complimentary use of New York Sports Club with locations throughout Manhattan.
                        .btn 
                            a.link(href="#") learn more