.enjoy 
    .container 
        .title
            h1.name-title Enjoy Generous Hospitality At The Hotel
        .text-content Uniquely situated just steps away from Times Square, Macy&rsquo;s, the Empire State Building, Hudson Yards, New York Penn Station, Madison Square Garden, and a variety of major Midtown attractions, Hotel Penn offers a comfortable and convenient place for you to relax after a day of sightseeing, event going, or working.
