.room{
    padding: 36px 0 60px ;
    background-color: #edebe5;
    .container{
        max-width: 1300px;
        padding: 0 15px;
        margin: auto; 
        .row{
            .col-lg-4{
                .inner{
                    margin-top: 24px;
                    overflow: hidden;
                    .image{
                        position: relative;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;   
                            transition: all ease-in-out 0.5s;
                        }
                        
                    }
                    .content{
                        padding: 25px 40px;
                        background-color: #ffffff;
                        .content-title{
                            font-family: 'EB Garamond', serif;
                            font-size: 23px;
                            font-weight: 700;
                            line-height: 28.8px;
                            color: black;
                        }
                        .acreage{
                            margin-top: 5px;
                            display: flex;
                            align-items: flex-end;
                            gap: 10px;
                            .width{
                               color: gray;
                            }
                            .room-types{
                                color: #888888;
                                font-size: 14px;
                            }
                            
                        }
                        .price{
                            display: flex;
                            align-items: flex-end;
                            .price-title{
                                font-size: 16px;
                                font-weight: 700;
                                color: black;
                            }
                            .price-value{
                                margin-left: 10px;
                                color: #e4a853;
                                font-size: 14px;
                                span{
                                    color: #888888;
                                    font-size: 12px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    &:hover{
                        .image{
                            img{
                                transform: scale(1.1);
                                transition: all ease-in-out 0.5s;
                            }
                            // &::before{
                            //     background-color: rgba(0, 0, 0, 0.5);
                            // }
                            // .price{
                            //     opacity: 1;
                            //     transform: translate(0);
                            //     transition: all ease-in-out 0.3s;
                            // }
                        }
                    }
                }
            }
        }
        .button{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .link_u{
                text-align: center;
                padding: 5px;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                width: 30px;
                height: 30px;
                color: #000;
                background-color: #fff;
                transition: all 0.3s linear;
                &:hover{
                    background-color: #e4a853;
                    color: #fff;
                    transition: all 0.3s linear;
                }
            }
            .link{ 
                text-align: center;
                padding: 7px;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                width: 30px;
                height: 30px;
                color: #000;
                background-color: #fff;
                transition: all 0.3s linear;
                &:hover{
                    background-color: #e4a853;
                    color: #fff;
                    transition: all 0.3s linear;
                }
            }
            .active{
                background-color: #e4a853;
                color: #fff;
            }
            
        }
    }
}

@import '../mobile/rooms/roomMobile';