.room 
    .container 
        .row.wow.fadeInUp
            .col-lg-4
                .inner
                    .image
                        img(src="./images/home/rooms/room_1.jpg", alt="room")
                    .content
                        .content-title Double Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M 
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $120
                                span /Night
            .col-lg-4  
                .inner
                    .image
                        img(src="./images/home/rooms/room_2.jpg", alt="room")
                    .content
                        .content-title Luxury Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $150
                                span /Night
            .col-lg-4
                .inner
                    .image
                        img(src="./images/home/rooms/room_3.jpg", alt="room")
                    .content
                        .content-title Premium Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $170 (-10%)
                                span /Night
            .col-lg-4
                .inner
                    .image
                        img(src="./images/home/rooms/room_1.jpg", alt="room")
                    .content
                        .content-title Double Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M 
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $120
                                span /Night
            .col-lg-4  
                .inner
                    .image
                        img(src="./images/home/rooms/room_2.jpg", alt="room")
                    .content
                        .content-title Luxury Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $150
                                span /Night
            .col-lg-4
                .inner
                    .image
                        img(src="./images/home/rooms/room_3.jpg", alt="room")
                    .content
                        .content-title Premium Room
                        .acreage
                            .width  
                                +render_icon('acreage')
                            .room-types 20 M
                                sup 2
                        .price 
                            .price-title From 
                            .price-value $170 (-10%)
                                span /Night
        .button
            a.link(href="#") <
            a.link(href="#") 1
            a.link(href="#") 2
            a.link(href="#") 3
            a.link(href="#") 4
            a.link(href="#") 5
            a.link(href="#") >

    