.benefit{
    background: url('../../images/about/benefit/image_1.jpg');
    .container{
        max-width: 1300px;
        margin: auto;
        padding: 0 15px;
        .row{
            align-items: center;
            text-align: center;
            .section-title{
                .logo{
                    height: 20px;
                    margin-bottom: 5px;
                }
                .sub-title{
                    color: white;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 4.8px;
                    line-height: 22.5px;
                    text-transform: uppercase;
                }
                .name-title{
                    font-family: 'EB Garamond', serif;
                    color: white;
                    font-size: 50px;
                    font-weight: 700;
                    letter-spacing: -1.2px;
                    line-height: 60px;
                    text-transform: capitalize;
                }
            }
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        position: relative;
                        .image{
                            height: 500px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .content{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background-color: white;
                            max-width: 550px;
                            padding: 50px;
                            border-color: #686868;
                            .name{
                                font-family: 'EB Garamond', serif;
                                font-size: 25px;
                                margin-bottom: 0.5rem;
                                font-weight: 700;
                                line-height: 1.2;
                                color: #000;
                            }
                            .text{
                                color: rgb(104, 104, 104);
                                font-size: 16px;
                            }
                        }
                    }
                }
                .swiper-pagination-bullet{
                    background-color: #e4a853;
                }
            }
        }
    }
}

@import '../mobile/about/benefitMobile';